/* header styling */
header {
    margin-top: 100px;
    text-align: center;
    width: fit-content;
}

/* body styling */
body {
    font-family: Liberation, monospace;
    background-color: black;

}

/* h styling */
h6 {
    text-align: center;
}

/* p styling */
p { 
    text-align: center;
    color: rgb(233, 199, 112);
}

/*img styling */
img {
    display: block;
    margin: 0 auto;
    width: 75%; /* Optional: set a specific width */
}

/* ul styling */
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
 }

li a {
    color:darkgoldenrod
}

/* centering webpage */

.home {
  position: absolute;
  margin:0%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  height: 100%;
  z-index: 1;
  margin-top: 100px;
}