/* header styling */
header {
    text-align: center;
    width: fit-content;
}

/* body styling */
body {
    font-family: Liberation, monospace;
    background-color: black;
}

/* h styling */
h6 {
    text-align: center;
}

/* p styling */
p {
    border: 5px solid; 
    padding: 35px;
    text-align: center;
}

/* centering webpage */
.home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 100%;
  z-index: 1;
}