/* header styling */
header {
    text-align: center;
}

/* body styling */
body {
    font-family: Liberation, monospace;
    background-color: darkolivegreen;
}

/* h styling */
h6 {
    text-align: center;
}

/* p styling */
p {
    border: 5px solid; 
    padding: 35px;
    text-align: center;
}

/* list styling & nav bar set up*/
ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: black;
}

ul li {
        float: left;
}

ul li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
}

ul li a:hover {
        background-color: #111111;
}

/* centering webpage */
.home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 100%;
  z-index: 1;
}